<head>
  <meta charset="utf-8">
  <title>Janken Game!</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Janken Game!</h1>
  <p>
    Hi
    <nobr sec:authentication="name"></nobr>
  </p>

  <h2>
    <p>エントリー</p>
  </h2>
  <li th:each="user : ${users}"><a th:href="@{/match(id=${user.id})}"> [[${user.name}]]</a></li>
  <a href="/jankengame?hand=Gu">ぐー</a> <a href="/jankengame?hand=Choki">ちょき</a> <a href="/jankengame?hand=Pa">ぱー</a>
  <br>
  [[${hand}]]<br>
  [[${chand}]]<br>
  [[${result}]]<br>

  <p th:if="${matches}">
    試合結果
  <div th:each="matches,stat:${matches}">
    <tr>
      <td>
        id:[[${matches.id}]]
        user1:[[${matches.user1}]]
        user2:[[${matches.user2}]]
        user1の手:[[${matches.user1Hand}]]
        user2の手:[[${matches.user2Hand}]]
      </td>
    </tr>
  </div>
  </p>
</body>

</html>
