<head>
  <meta charset="utf-8">
  <title>Janken Game!</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Janken Game!</h1>
  <p>
    Hi
    <nobr sec:authentication="name"></nobr>
  </p>

  <h2>
    <p>エントリー</p>
  </h2>
  <div>
    <ul>
      <li th:each="user : ${users}"><a th:href="@{/match(id=${user.id})}"> [[${user.name}]]</a></li>
    </ul>
  </div>
  <h2>
    <p>アクティブな試合</p>
  </h2>
  <p th:if="${matchinfos}">
  <div th:each="matchinfos,stat:${matchinfos}">
    <div th:if="${matchinfos.isActive}">
      id:[[${matchinfos.id}]]
      user1:[[${matchinfos.user1}]]
      user2:[[${matchinfos.user2}]]
      isActive:[[${matchinfos.isActive}]]
    </div>
    </p>
  </div>
  </p>
  <p th:if="${matches}">
    試合結果
  <div th:each="matches,stat:${matches}">
    <tr>
      <td>
        id:[[${matches.id}]]
        user1:[[${matches.user1}]]
        user2:[[${matches.user2}]]
        user1の手:[[${matches.user1Hand}]]
        user2の手:[[${matches.user2Hand}]]
      </td>
    </tr>
  </div>
  </p>
</body>

</html>
